APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

EDGENET_API_SERVER=https://eapi-test.planet-lab.eu
KUBERNETES_API_SERVER=https://eapi-test.planet-lab.eu
KUBERNETES_AUDIT_TOKEN=

CONSOLE_NAME="PlanetLab"
CONSOLE_NAVIGATION_IMAGE="/images/planetlab-h.png"
CONSOLE_NAVIGATION_HEIGHT=60
CONSOLE_LOGO_IMAGE="/images/planetlab-v.png"
CONSOLE_LOGO_HEIGHT=120

VITE_CONSOLE_NAME="${CONSOLE_NAME}"
VITE_CONSOLE_NAVIGATION_IMAGE="${CONSOLE_NAVIGATION_IMAGE}"
VITE_CONSOLE_NAVIGATION_HEIGHT="${CONSOLE_NAVIGATION_HEIGHT}"
VITE_CONSOLE_LOGO_IMAGE="${CONSOLE_LOGO_IMAGE}"
VITE_CONSOLE_LOGO_HEIGHT="${CONSOLE_LOGO_HEIGHT}"

# Authentication OICD with SLICES
SLICES_OIDC_BASE_URL=https://portal.slices-sc.eu
SLICES_OIDC_CLIENT_ID=
SLICES_OIDC_CLIENT_SECRET=
SLICES_OIDC_REDIRECT_URI=https://console.planetlab.io/auth/slices/callback
SLICES_OIDC_SCOPES="openid profile email"
SLICES_OIDC_VERIFY_JWT=false
SLICES_OIDC_JWT_PUBLIC_KEY=

# GitHUB authentication
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_REDIRECT_URI="${APP_URL}/auth/github/callback"

# Clickhouse - Antrea Flow
CLICKHOUSE_USER=planetlab
CLICKHOUSE_PASSWORD=
CLICKHOUSE_URL=
CLICKHOUSE_DB=planetlab