.nav {
    /*min-height:100vh;*/
    border:1px solid red;

}

.main {
    border:1px solid green;

    /*height:100vh;*/
    overflow-y:auto;
}
.header {

}

.footer {
    position: sticky;
    bottom:0;

    margin-top:auto;

    background-color: white;
}

.link {

}

.linkIcon {

}

.user {

}